<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
    <div class="container">
			<div class="footer">
			  <small>
			    <%= link_to "One Month Rails", "http://onemonthrails.com" %>
			    by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>
			  </small>
			</div>
		</div>
	</div>
</div>